/*body {

}*/

.App {
  background: linear-gradient(to right, 
  rgb(191, 33, 47) 0%, 
  rgb(191, 33, 47) 33.3%, 
  rgb(0, 111, 60) 33.3%, 
  rgb(0, 111, 60) 66.6%, 
  rgb(38, 75, 150) 66.6%, 
  rgb(38, 75, 150) 100%);
  text-align: center;
  height: 100vh; /* Set height to 100% of viewport height */
  width: 100vw; 
}

.image{
  margin-top: 100px;
}
.what_fam{
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.button, .reset-button{
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin: 8px;
  vertical-align: top;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.button:hover{
  opacity:0.8;
}

.button:active{
  opacity:0.5;
}

.input {
  background-color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: text;
  margin: 8px;
  vertical-align: top;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

input[type="text"]::placeholder {
  color: black;
  opacity: .6;
}

input[type="text"]:focus {
  outline: none;
}